<div class="content-block">
  <div class="dx-card responsive-paddings">
    <div ng-if="!currentUsuario">
      <span>{{ currentUsuario.nome }}</span>
      <br />
      <span>{{ getAge(currentUsuario) }}</span>
      <dx-gallery
        id="gallery"
        [dataSource]="currentUsuario.fotos"
        height="60vh"
        showIndicator="true"
      ></dx-gallery>
      <dx-button
        icon="minus"
        stylingMode="outlined"
        type="danger"
        style="float: left"
        (click)="onClick(true)"
      >
      </dx-button>
      <dx-button
        icon="plus"
        stylingMode="outlined"
        type="success"
        style="float: right"
        (click)="onClick(false)"
      >
      </dx-button>
    </div>
  </div>
</div>
