::ng-deep #data-grid-demo {
  min-height: 530px;
}

app-modal {
  visibility: visible;
  background-color: red;

  .modal {
    .dialog {
      padding: 20px;
      background: white;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 900;

      box-shadow: (
        0 11px 15px -7px rgb(0 0 0 / 20%),
        0 24px 38px 3px rgb(0 0 0 / 14%),
        0 9px 46px 8px rgb(0 0 0 / 12%)
      );

      .dialog-actions {
        top: 35px;
        right: 22px;
      }
    }

    .overlay {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 800;
      overflow: auto;
      background: transparentize(black, 0.68);
    }
  }
}

.modal-open {
  app-modal {
    visibility: visible;
  }
}
