<div id="data-grid-demo">
  <dx-tree-list
    id="gridContainer"
    [dataSource]="dataSource"
    parentIdExpr="menuId"
    keyExpr="id"
    [showBorders]="true"
    (onRowRemoving)="delete($event)"
    (onRowInserting)="beforeSave($event)"
    (onRowInserted)="save($event)"
    (onRowUpdated)="update($event)"
    (onEditingStart)="onEditingStart($event)"
  >
    <dxo-paging [enabled]="true"></dxo-paging>
    <dxo-editing mode="popup" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true">
      <dxo-popup title="System Menu Info" [showTitle]="true" [width]="700" [height]="525">
      </dxo-popup>
      <dxo-form>
        <dxi-item itemType="group" [colCount]="1" [colSpan]="1">
          <dxi-item dataField="title"></dxi-item>
          <dxi-item itemType="group">
            <dxi-item dataField="icon">
              <dx-select-box
                id="custom-templates"
                [dataSource]="menuIcons"
                [value]="systemMenuSelected?.icon"
                fieldTemplate="field"
                [searchMode]="searchModeOption"
                [searchTimeout]="searchTimeoutOption"
                [minSearchLength]="minSearchLengthOption"
                [searchEnabled]="true"
                [showDataBeforeSearch]="showDataBeforeSearchOption"
              >
                <div *dxTemplate="let data of 'field'">
                  <div class="custom-menu-item-selected">
                    <i *ngIf="data" class="dx-icon dx-icon-{{ data }}"></i>
                    <dx-text-box [value]="data"></dx-text-box>
                  </div>
                </div>
                <div *dxTemplate="let data of 'item'">
                  <div class="custom-menu-item">
                    <i *ngIf="data" class="dx-icon dx-icon-{{ data }}"></i>
                    <span>{{ data }}</span>
                  </div>
                </div>
              </dx-select-box>
            </dxi-item>
          </dxi-item>
          <dxi-item dataField="description"></dxi-item>
          <dxi-item dataField="route"></dxi-item>
        </dxi-item>
      </dxo-form>
    </dxo-editing>

    <dxi-column dataField="icon" cellTemplate="cellTemplateIcon" [width]="100"></dxi-column>
    <div *dxTemplate="let data of 'cellTemplateIcon'">
      <i *ngIf="data?.value" class="dx-icon dx-icon-{{ data.value }}"></i>
    </div>
    <dxi-column dataField="title" caption="Title"></dxi-column>
    <dxi-column dataField="description"></dxi-column>
    <dxi-column dataField="route"></dxi-column>
  </dx-tree-list>
</div>
