<div id="data-grid-demo">
  <dx-data-grid
    id="gridContainer"
    [dataSource]="dataSource"
    keyExpr="id"
    [showBorders]="true"
    (onRowClick)="showInfo($event)"
  >
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-paging [enabled]="true"></dxo-paging>
    <dxi-column dataField="name" caption="Title"></dxi-column>
    <dxi-column dataField="email"></dxi-column>
    <dxi-column dataField="registration"></dxi-column>
    <dxi-column dataField="registerDate"></dxi-column>
    <dxi-column dataField="assignedRoles" [(visible)]="isRoleVisible"></dxi-column>
  </dx-data-grid>
  <dx-popup
    [showTitle]="true"
    title="Information"
    [dragEnabled]="false"
    [hideOnOutsideClick]="true"
    [showCloseButton]="true"
    [(visible)]="popupVisible"
  >
    <dxi-item *ngIf="selectedSystemUser">
      <div *ngFor="let role of roles">
        <dx-check-box
          [text]="role.name"
          [value]="setValue(role)"
          (onValueChanged)="handleValueChanged(role, $event)"
        ></dx-check-box>
      </div>
    </dxi-item>
    <dxi-toolbar-item
      widget="dxButton"
      toolbar="bottom"
      location="before"
      [options]="toolbarOptions"
    ></dxi-toolbar-item>
  </dx-popup>
</div>
