<h2 class="content-block">SYSTEM USER x ROLE</h2>
<div>
  <button (click)="getAll()">GET</button>
</div>
<div id="data-grid-demo">
  <dx-data-grid id="gridContainerRole" [dataSource]="dataSource" keyExpr="id" [focusedRowEnabled]="true"
    [focusedRowIndex]="0" [columnAutoWidth]="true" [columnHidingEnabled]="true" [showBorders]="true"
    (onRowUpdated)="edit($event)" [(value)]="gridBoxValue" valueExpr="ID" displayExpr="CompanyName"
    placeholder="Select a value..." [showClearButton]="true" [dataSource]="gridDataSource" class="dx-card wide-card">

    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
    <dxo-filter-row [visible]="true"></dxo-filter-row>

    <dxo-editing mode="popup" [allowUpdating]="true" [allowAdding]="false" [allowDeleting]="false">
      <dxo-popup title="Roles" [showTitle]="true" [width]="700" [height]="525">
      </dxo-popup>
      <dxo-form>
        <dxi-item itemType="group" [colCount]="1" [colSpan]="1">
          <dx-drop-down-box [(value)]="roles" valueExpr="id" displayExpr="name" placeholder="Select a value..."
            [showClearButton]="true" [dataSource]="roles">
            <div *dxTemplate="let data of 'content'">
              <dx-data-grid [dataSource]="roles" [columns]="['CompanyName', 'City', 'Phone']"
                [selection]="{ mode: 'multiple' }" [hoverStateEnabled]="true" [paging]="{ enabled: true, pageSize: 10 }"
                [filterRow]="{ visible: true }" [scrolling]="{ mode: 'virtual' }" [height]="345"
                [(selectedRowKeys)]="gridBoxValue">

              </dx-data-grid>
            </div>
          </dx-drop-down-box>
        </dxi-item>
      </dxo-form>
    </dxo-editing>
    <dxo-paging [enabled]="true"></dxo-paging>
    <dxo-toolbar>
      <dxi-item name="addRowButton"> </dxi-item>
    </dxo-toolbar>

    <dxi-column dataField="name" caption="Name">
    </dxi-column>
  </dx-data-grid>
</div>