@import '../../../../../padroes_kpmg.scss';

.header-full {
  height: 80px;
  border: 1px solid #ebebeb;

  .icone-notificacao {
    margin: 24px 9px 24px 9px;
    width: 32px;
    height: 32px;
    object-fit: contain;
    cursor: pointer;

    &:checked {
      width: 10px;
      height: 10px;
    }
  }

  .container-icone-notificacao {
    width: 50px;
    height: 80px;
    border: 1px solid #ebebeb;
    position: relative;

    .number {
      font-family: $opensansregular;
      position: absolute;
      right: 3px;
      top: 20px;
      background: #fec22d;
      width: 17px;
      height: 17px;
      font-size: 12px;
      text-align: center;
      border-radius: 10px;
      color: #ffffff;
    }
  }

  .icone-usuario {
    margin: 20px 45px 20px 45px;
    width: 134px;
    height: 40px;
    object-fit: contain;
  }

  .container-icone-usuario {
    width: 224px;
    height: 80px;
    border: 1px solid #ebebeb;
  }

  .icone-busca {
    margin: 23px 45px 23px 20px;
    width: 219px;
    height: 34px;
    object-fit: contain;
  }

  .container-icone-busca {
    width: 224px;
    height: 80px;
    border: 1px solid #ebebeb;
  }

  .informacao-colaborador {
    height: 80px;
  }

  .container-image {
    height: 80px;
  }

  .card-image {
    margin-left: 18px;
    max-height: 40px;
    max-width: 40px;
    border-radius: 50%;
    border: 1px solid #272133;
    margin-top: 20px;
  }

  .container-nome-perfil {
    margin-top: 25px;
  }

  .nome-usuario {
    font-family: $opensansregular;
    font-size: 13px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: 0.52px;
    text-align: left;
    color: #2a2f33;
  }

  .cargo-usuario {
    font-family: $opensansregular;
    height: 11px;
    opacity: 0.5;
    font-size: 8px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #919191;
  }

  .container-cargo {
    width: -moz-min-content;
    width: -webkit-min-content;
    white-space: nowrap;
    height: 12px;
    border-radius: 2px;
    border: solid 1px #919191;
  }
}

.btn-overlay {
  height: 27px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
