<div id="data-grid-demo">
  <dx-data-grid
    id="gridContainer"
    [dataSource]="dataSource"
    keyExpr="id"
    [showBorders]="true"
    (onRowRemoving)="delete($event)"
    (onRowInserted)="create($event)"
    (onRowUpdate)="update($event)"
  >
    <dxo-paging [enabled]="true"></dxo-paging>
    <dxo-editing mode="popup" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true">
      <dxo-popup title="Employee Info" [showTitle]="true" [width]="700" [height]="525"> </dxo-popup>
      <dxo-form>
        <dxi-item itemType="group" [colCount]="1" [colSpan]="1">
          <dxi-item dataField="name"></dxi-item>
          <dxi-item dataField="email"></dxi-item>
          <dxi-item dataField="registration"></dxi-item>
        </dxi-item>
      </dxo-form>
    </dxo-editing>

    <dxi-column dataField="name" caption="Name"></dxi-column>
    <dxi-column dataField="email"></dxi-column>
    <dxi-column dataField="registration"></dxi-column>
    <dxi-column dataField="registerDate"></dxi-column>
  </dx-data-grid>
</div>
