@import '../../../../../padroes_kpmg.scss';
@import 'src/styles.scss';

.menu-desktop-collapse {
  nav {
    overflow-x: hidden;
    overflow-y: auto;
    min-height: calc(100vh - 85px);
    max-height: calc(100vh - 85px);

    ul {
      padding: 0;
      padding-bottom: 40px;
      margin: 0;
      list-style: none;
      li {
        &.titulo {
          padding-bottom: 15px;
          padding-top: 5px;

          .menu-1 {
            margin-left: 32px;

            .pi {
              cursor: pointer;
            }
          }
        }
        .title-menu {
          width: 84px;
          height: 20px;
          font-family: 'Poppins', sans-serif;
          font-size: 12px;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: 0.56px;
          text-align: left;
          color: #ffffff;
          padding: 5px 0 5px 10px;
        }

        a {
          &.active {
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            color: #ffffff;
          }

          width: 100%;
          padding: 5px 0 5px 10px;
          margin-top: 1px;
          text-decoration: none;
          cursor: pointer;
          color: #ffffff;
          transition: padding-left 0.3s ease, background-color 0.1s linear;
          font-size: 12px;

          &:hover {
            text-decoration: none;
            color: #ffffff;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            padding-left: 15px !important;
          }
        }
      }
    }

    a {
      font-family: 'Poppins', sans-serif;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.83;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff !important;
    }
  }

  #collapseParametro {
    flex: 1 1 82px;
  }

  .pane {
    flex: 1 1 82px;
    -webkit-backdrop-filter: blur(31.6px);
    backdrop-filter: blur(31.6px);
    background-image: linear-gradient(to bottom, #023223 33%, #006513);
  }

  .logo-collapse {
    width: 47.1px;
    height: 37.5px;
    object-fit: contain;
  }

  .logo-container {
    margin: 18px 0px 82px 26px;
    display: flex;
    font-size: 32px;
    cursor: pointer;
  }

  .icone-menu {
    width: 13px;
    height: 13px;
    object-fit: contain;
    margin-right: 11px;
  }
}
