<h2 class="content-block">System Permission</h2>
<div>
  <button (click)="getAll()">GET</button>
</div>

<div id="data-grid-demo">
  <dx-data-grid
    id="gridContainerSystemPermission"
    [dataSource]="dataSource"keyExpr="id"
    [showBorders]="true"
    (onRowInserting)="create($event)"
    (onRowUpdating)="edit($event)"
    (onRowRemoving)="delete($event)"
    [focusedRowEnabled]="true"
    [focusedRowIndex]="0"
    [columnAutoWidth]="true"
    [columnHidingEnabled]="true"
    [showBorders]="true"
    class="dx-card wide-card"
  >
  <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-editing mode="popup" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true">
      <dxo-popup title="SystemPermission" [showTitle]="true" [width]="700" [height]="525"> </dxo-popup>
      <dxo-form>
        <dxi-item itemType="group" [colCount]="1" [colSpan]="1">
          <dxi-item dataField="name"></dxi-item>
          <dxi-item dataField="tag"></dxi-item>
        </dxi-item>
      </dxo-form>
    </dxo-editing>
    <dxo-paging [enabled]="true"></dxo-paging>
    <dxo-toolbar>
      <dxi-item name="addRowButton"> </dxi-item>
    </dxo-toolbar>
    <dxi-column dataField="name" caption="Name"></dxi-column>
    <dxi-column dataField="tag" caption="Tag"></dxi-column>
  </dx-data-grid>
</div>
