<app-usuarioSistema-edit
  [usuarioSistema]="usuarioSistemaModal"
  (notify)="loadTable()"
></app-usuarioSistema-edit>

<form [formGroup]="registerForm">
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Codigo</th>
          <th scope="col">Modelo</th>
          <th scope="col">Q. Passageiros</th>
          <th scope="col">Data de Registro</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let usuarioSistema of usuarioSistemas; index as i"
          (click)="clickBla(usuarioSistema)"
        >
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ usuarioSistema.codigo }}</td>
          <td>{{ usuarioSistema.modelo }}</td>
          <td>{{ usuarioSistema.quantidadePassageiro }}</td>
          <td>{{ usuarioSistema.dataRegistro.toLocaleDateString() }}</td>
        </tr>
        <tr>
          <th scope="col">#</th>
          <th scope="col">
            <input
              class="form-control"
              name="codigo"
              formControlName="codigo"
              placeholder="Codigo"
              type="number"
              [readOnly]="inputReadOnly"
            />
          </th>
          <th scope="col">
            <input
              class="form-control"
              name="modelo"
              formControlName="modelo"
              placeholder="Modelo"
              type="text"
              [readOnly]="inputReadOnly"
            />
          </th>
          <th scope="col">
            <input
              class="form-control"
              name="quantidadePassageiro"
              formControlName="quantidadePassageiro"
              placeholder="Quantidade de Passageiro"
              type="number"
              [readonly]="inputReadOnly"
            />
          </th>
          <th scope="col">
            <button (click)="onSubmit()" [disabled]="inputReadOnly">></button>
          </th>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination
        [collectionSize]="usuarioSistemaLenght"
        [(page)]="pageFilter.pageNumber"
        [pageSize]="pageFilter.pageSize"
        (pageChange)="loadTable()"
      >
      </ngb-pagination>

      <select
        class="custom-select"
        style="width: auto"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="pageFilter.pageSize"
        (ngModelChange)="loadTable()"
      >
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
      </select>
    </div>
  </div>
</form>
