.btn-entrar {
  display: block;
  margin: 20px auto;
  background-image: linear-gradient(to bottom, #023223 33%, #006513);
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  border-radius: 4rem;
  padding: 0;
  height: 60px;
  width: 170px;
  font-size: 16px;
  font-weight: bolder;
  color: #fff;
}
