@import '../../../../mediaqueries.scss';
@import '../../../../padroes_kpmg.scss';
@import 'src/styles.scss';

.container {
  padding-left: 0px;
}

.icone-collapse {
  cursor: pointer;
  margin: 31px 16px 31px 16px;
  width: 18px;
  height: 18px;
  object-fit: contain;
}

.container-icone-collapse {
  width: 51px;
  height: 80px;
  border: 1px solid #ebebeb;
}

.coluna-conteudo {
  // position: relative; //Comentei porque no overlayPanel estava quebrando
  background-image: linear-gradient(to bottom, #e6f2e8 0%, #ffffff 40%);

  .corpo {
    padding: 0px 34px;
    margin-top: -40px;
  }
}

.bbg {
  margin: 1px;
  border-bottom: 2px solid #ebebeb;
  background-color: white;
  padding-bottom: 3rem;
}

// .container-usuario {
// padding: 32px 0px 0px 38px;
// }

.container-breadcrumb {
  padding: 12px 38px 0px 38px;
}

.data-message {
  list-style-type: disc;
  display: list-item;
  margin-left: 30px;
}

.menu-kpmg {
  flex: 1 1 auto;
  box-sizing: border-box;
  display: flex;
}

.menu-kpmg-container {
  flex: 1 1 auto;
  box-sizing: border-box;
  display: flex;
}

.menu-desktop-collapse {
  flex: 1 1 82px;
  max-width: 82px;
  min-width: 82px;
  box-sizing: border-box;
  display: flex;
}

.menu-mobile {
  flex: 1 1 260px;
  max-width: 260px;
  min-width: 260px;
  box-sizing: border-box;
  display: flex;
}

.menu-desktop-full {
  flex: 1 1 260px;
  display: flex;
  box-sizing: border-box;
  max-width: 260px;
  min-width: 260px;
}

.correcao-overlap-mobile {
  margin-left: -260px;
}

.nome-template {
  object-fit: contain;
  font-family: $opensansregular;
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: -0.63px;
  text-align: left;
  color: #34303f;
}

.matricula-template {
  object-fit: contain;
  font-family: $opensansregular;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  text-align: left;
  color: #34303f;
}

.fonte-mobile {
  font-size: 15px;
}
