<div fxLayout="column">
  <div fxFlex="100">
    <div *ngIf="!menuCollapsed; then thenBlock; else elseBlock"></div>
    <div fxFlex="100" [ngClass]="!menuCollapsed && isMobile ? 'correcao-overlap-mobile' : ''">
      <div fxLayout="column">
        <div fxFlex="100">
          <div fxFlex.gt-lt="50px" class="container-icone-collapse">
            <span>
              <i
                class="title-menu"
                (click)="menuCollapsed = !menuCollapsed"
                [attr.aria-expanded]="!menuCollapsed"
                aria-controls="collapseParametro"
                ><img src="../../../../assets/img/collapse.svg" class="icone-collapse"
              /></i>
            </span>
          </div>
          <div fxFlex="100">
            <app-header [nomeUsuario]="nomeUsuario"></app-header>
          </div>
        </div>
        <div fxLayout="column" class="coluna-conteudo">
          <app-loading *ngIf="isLoading"></app-loading>
          <div class="bbg">
            <div fxLayout="row" class="wrapForMobile">
              <div class="container-usuario col-12 col-lg-6 p-0">
                <span
                  [ngClass]="isMobile ? 'fonte-mobile' : ''"
                  class="nome-template kpmg-color-grey7"
                >
                  Bem-Vindo,
                </span>
                <br />
                <span
                  [ngClass]="isMobile ? 'fonte-mobile' : ''"
                  class="matricula-template kpmg-color-grey3"
                >
                </span>
              </div>
              <!-- <div fxFlex.gt-xs="600px" fxFlex.xs="250px" fxLayoutAlign="end center"> -->
              <div class="col-12 col-lg-6 p-0 d-flex alignForMobile">
                <ng-content select="[kpmg-header]"></ng-content>
              </div>
            </div>
            <div fxLayout="row">
              <div fxFlex="100" class="container-breadcrumb"></div>
            </div>
          </div>

          <div fxLayout="row">
            <div fxFlex="100" class="corpo">
              <!-- <p-toast key="toast" [life]="20000"> -->
              <ng-content></ng-content>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #thenBlock>
  <div fxFlex.gt-sm="260px" class="menu-kpmg" fxHide.lt-sm>
    <div id="collapseParametro" class="menu-kpmg-container">
      <app-menu-full (acaoFechaMenu)="fechaMenu($event)" class="menu-desktop-full"></app-menu-full>
    </div>
  </div>
  <div class="menu-kpmg" fxHide.gt-xs>
    <div id="collapseParametro" class="menu-kpmg-container"></div>
  </div>
</ng-template>
<ng-template #elseBlock>
  <div fxFlex.gt-sm="82px" class="menu-kpmg" fxHide.lt-sm>
    <div id="collapseParametro" class="menu-kpmg-container">
      <app-menu-collapse
        (notify)="expadirMenu($event)"
        class="menu-desktop-collapse"
      ></app-menu-collapse>
    </div>
  </div>
</ng-template>
