.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.7);
  z-index: 2004;
  display: flex;

  .preloading-kpmg {
    // position: absolute;
    // top: 0;
    // bottom: 0;
    // left: 0;
    // right: 0;
    width: 92px;
    height: 92px;
    margin: auto;
    // background-color: white;
    box-sizing: border-box;
    // padding: 15px;

    .kpmg-1 {
      display: block;
      width: 92px;
      height: 92px;
      background: url(../../../../assets/svg/loading.svg) no-repeat center center;
      background-size: contain;
      transform: rotateZ(45deg);
      animation: anRotate 1.7s linear infinite;
    }
  }
}

@keyframes anRotate {
  0% {
    transform: rotateZ(0deg);
  }
  12.5% {
    transform: rotateZ(45deg);
  }
  25% {
    transform: rotateZ(90deg);
  }
  37.5% {
    transform: rotateZ(135deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  62.5% {
    transform: rotateZ(225deg);
  }
  75% {
    transform: rotateZ(270deg);
  }
  87.5% {
    transform: rotateZ(315deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes anRotate2 {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes anRotate3 {
  0% {
    transform: rotateZ(60deg);
  }
  16.66% {
    transform: rotateZ(120deg);
  }
  33.32% {
    transform: rotateZ(180deg);
  }
  42.84% {
    transform: rotateZ(120deg);
  }
  66.64% {
    transform: rotateZ(60deg);
  }
  83.3% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(60deg);
  }
}
