@import '../../../../../padroes_kpmg.scss';
@import 'src/styles.scss';

.menu-desktop-full {
  nav {
    height: 1500px;
    ul {
      padding: 0;
      padding-bottom: 40px;
      margin: 0;
      list-style: none;
      li {
        &.li-link {
          &:hover {
            margin-top: 0.3px;
            margin-left: 15px;
          }

          transition: margin-left 0.3s ease;
          padding-left: 45px;
        }

        &.titulo {
          .menu-1 {
            cursor: pointer;
            padding: 8px 0px 8px 10px;
            border-left: 5px solid #fec22d;

            .pi {
              font-size: 16px;
            }
          }
        }
        .title-menu {
          width: 84px;
          height: 20px;
          font-family: $opensansregular;
          font-size: 12px;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: #ffffff;
          padding: 5px 0 5px 7px;
        }

        a {
          &.active {
            font-family: $opensansregular;
            font-weight: 600;
            color: #ffffff;
          }

          width: 100%;
          padding: 5px 0 5px 0px;
          margin-top: 1px;
          margin-left: 0px;
          text-decoration: none;
          cursor: pointer;
          color: #ffffff;
          transition: padding-left 0.3s ease, background-color 0.1s linear;
          font-size: 12px;

          &:hover {
            text-decoration: none;
            color: #ffffff;
            font-family: $opensansregular;
            font-weight: 600;
            //padding-left: 15px !important;
          }
        }
      }
    }

    a {
      font-family: $opensansregular;
      font-size: 12px;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.83;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff !important;
    }
  }

  .pane {
    flex: 1 1 260px;
    box-sizing: border-box;
    max-width: 260px;
    min-width: 260px;

    -webkit-backdrop-filter: blur(31.6px);
    backdrop-filter: blur(31.6px);
    background-image: linear-gradient(to bottom, #023223 33%, #006513);
  }

  .Grupo-3459 {
    width: 159.4px;
    height: 57.6px;
    object-fit: contain;
  }

  .logo-container {
    margin: 0px 48px 36px 36px;
    padding-top: 40px;
  }

  .icone-menu {
    width: 13px;
    height: 13px;
    object-fit: contain;
    margin-right: 11px;
  }

  .collapseMenu {
    border-left: 5px solid #fec22d;
    background-color: rgba(0, 0, 0, 0.19);
    padding: 23px 0px;
  }

  div .collapse-simb {
    cursor: pointer;
    float: right;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    margin-right: 25px;
    padding-top: 5px;
  }

  .termo-de-uso-privacidade {
    width: 178px;
    height: 36px;
    object-fit: contain;
    opacity: 0.2;
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #f8f8f8;

    position: absolute;
    bottom: 40px;
  }
}
