@import 'src/styles.scss';

/* MODAL STYLES
-------------------------------*/
.screen-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 1000;

  overflow: auto;

  .screen-modal-body {
    padding: 5px;
    background: #fff;
    margin: 40px auto;
    border-radius: 10px;

    max-width: 850px;
    width: 650px;

    max-width: 100%;

    .screen-modal-bodycontent {
      padding: 5px 25px 15px 25px;
    }
  }

  .screen-modal-header {
    width: 100%;
    height: 30px;
    padding: 0px 25px;
    margin-top: 15px;

    .close {
      color: grey;
      cursor: pointer;
      font-weight: 600;
      text-align: end;
    }

    .title {
      font-weight: 700;
      font-size: 15px;
    }
  }
}

.screen-modal-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: #000;
  opacity: 0.75;

  z-index: 900;
}

.footer {
  margin-right: -10px;
  margin-left: -10px;
}

body.screen-modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}

.table {
  .table-header,
  .table-content {
    li {
      &:nth-child(1) {
        text-align: left;
        width: 70px;
      }
      &:nth-child(2) {
        text-align: left;
        width: 380px;
      }
      &:nth-child(3) {
        text-align: left;
        width: 140px;
      }
    }
  }

  .table-header {
    width: calc(100%);
  }

  .scrollbar {
    height: 250px;
  }
}

body.screen-modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}
