@import './mediaqueries.scss';

//Fonts
$opensansregular: 'Open Sans', 'Helvetica Neue', sans-serif;
$fontlight: 'LatoWebLight', helvetica;
$fontdefault: 'LatoWebMedium', helvetica;
$fontmedium: 'LatoWeb', helvetica;
$fontbold: 'LatoWebBold', helvetica;

//Colors
$azulescuro: #19286e;
$azul: #0078be;
$verdeagua: #00b3a7;
$verde: #2d4409;
$vermelho: #f04040;
$lilas: #9b3296;
