@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'https://fonts.googleapis.com/css?family=Roboto:400,500,700';

@import './assets/index.scss';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
