<app-screen-modal id="airplane-edit" [cssModal]="" [title]="titleModal">
  <form class="" [formGroup]="registerForm">
    <input
      class="form-control"
      name="codigo"
      formControlName="codigo"
      placeholder="Codigo"
      type="number"
    />
    <input
      class="form-control"
      name="modelo"
      formControlName="modelo"
      placeholder="Modelo"
      type="text"
    />
    <input
      class="form-control"
      name="quantidadePassageiro"
      formControlName="quantidadePassageiro"
      placeholder="Quantidade de Passageiro"
      type="number"
    />
    <button (click)="onUpdate()">></button>
    <button (click)="onDelete()">del</button>
  </form>
</app-screen-modal>
